body
  margin-left: 10%

#footer
  font-size: small
  text-align: center

.right
  table
    border: 1px solid black
    border-collapse: collapse

    td, th
      border: 1px solid black
    tr.spec
      td
        font-family: monospace
      td, th
        border: none

